.header .header_logo,.header .header_banner,.main .main_menu,.main_widget_and_content,.footer {
width:1000px;
margin:0 auto;
}

.header , .main , .footer{
    overflow: hidden;
}
/********************HEADER********************/
.header {
background-color:#000000;
}
.header .header_logo {
    
}
.header .header_logo > h1 {
height:61px;
font-size:32px;
font-weight:bold;
line-height: 50px;
float:left;
color: #00676e;
text-shadow:0px 0px 0 rgb(-16,87,94),1px 1px 0 rgb(-21,82,89),2px 2px 0 rgb(-27,76,83),3px 3px 0 rgb(-33,70,77),4px 4px 0 rgb(-38,65,72),5px 5px 0 rgb(-44,59,66), 6px 6px 0 rgb(-50,53,60),7px 7px 6px rgba(0,0,0,0.55),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

.header .header_banner {
clear:both;
}

.header .header_banner {
position:relative;
height: 418px;
}

.header .header_banner >#arrow_left {
position:absolute;
display:block;
left:0;
top:180px;
width:58px;
height:58px;
z-index:2;
background-image:url( "../images/prev.gif ");
}

.header .header_banner >img {
position:absolute;
width:1000px;
height:418px;
left:0;
z-index:1;
}

.header .header_banner >#arrow_right {
position:absolute;
display:block;
right:0;
top:180px;
width:58px;
height:58px;
z-index:2;
background-image:url( '../images/next.gif ');
}
/********************END HEADER********************/
/********************MAIN********************/
.main {
background-image:url( "../images/main.gif ");
background-repeat:repeat-x;
}

.main .main_menu >ul {
height:45px;
}

.main .main_menu >ul >li {
height:45px;
float:left;
}

.main .main_menu >ul >li >a {
line-height:45px;
text-decoration:none;
display:block;
padding:0 50px;
}
.main_widget_and_content{
	overflow:auto;
	margin-top:2px;
}
.main .main_widget {
width:250px;
height:400px;
float:left;
background-color:#DCDDDC;
}

.main .main_content {
padding-left:50px;
width:700px;
height:400px;
float:left;
background-color:#466435;
}
/********************END MAIN********************/
/********************FOOTER********************/
.footer .footer_menu {
margin-top:5px;
border-top:dashed 1px #cfcfcf;
border-bottom:dashed 1px #cfcfcf;
overflow:hidden;
}

.footer .footer_menu ul {
height:45px;
float:left;
width:1000px;
}

.footer .footer_menu >ul >li {
height:45px;
float:left;
}

.footer .footer_menu >ul >li >a {
line-height:45px;
text-decoration:none;
display:block;
padding:0 50px;
}

.copyright {
float:left;
width:1000px;
text-align:center;
line-height:35px;
}
/********************END FOOTER********************/